<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestSuite" verbose="1">
     Run all test setup
    <test name="AllTests">
        <packages>
<!--            <package name="org.example.tests"/>-->
        </packages>
    </test>


    <!-- Setup to run a specific method -->
    <test name="SingleTestMethod">
        <classes>
            <class name="org.example.tests.DataTesting">
                <methods>
                    <include name="validateActorCount"/>
                    <include name="validateFilmActorTable_actor_id"/>
                    <include name="validateFilmActorTable_actorCount"/>
                    <include name="validateFilmActorTable_MultipleColumns"/>
                    <include name="verifyActorNamesInActorTable_multipleColumns"/>
                    <include name="validateFilmDescriptions"/>
                    <!-- ADD another class to execute it -->
                </methods>
            </class>
        </classes>
    </test>
</suite>
