<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestSuite" verbose="1">
    <!-- Run all test setup -->
    <test name="AllTests">
        <packages>
            <package name="org.example"/>
        </packages>
    </test>


    <!-- Setup to run a specific method -->
    <test name="SingleTestMethod">
        <classes>
            <class name="org.example.DataTesting">
                <methods>
                    <include name="validateFilmActorTable_actor_id"/>
                    <!-- ADD another class to execute it -->
                </methods>
            </class>
        </classes>
    </test>
</suite>
